{% load crispy_forms_tags %}
<div class="modal fade" id="editcurrencymyModal-{{i.id}}" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <form action="{% url "visacountryupdate_view" %}" method="POST" >
    {% csrf_token %}
  <div class="modal-content " style="width: 500px;">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Country</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <hr>
    <div class="modal-body ">
      <div class="row formrow">
        <div class="col-md-12">
          
          <input type="text" value="{{i.id}}" name="visa_country_id" hidden>
         
          <input type="text" value="{{i.country}}" name="visa_country_name" class="form-control">
          
            
            
        </div>
      </div>
      
    </div>
    <hr>
    <div class="modal-footer">
      <div class="modal-footer">
        <div class="d-grid  d-md-flex justify-content-md-end">
          <button class="btn btn-color" type="submit">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
</div>