<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLabel" class="edit-profile">Edit Profile</h5> -->
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
              <!-- <span aria-hidden="true">&times;</span> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="resolvedquerycontent1">
              <ul class="list-group">
                <div class="list-item">
                  <li class="list-group-item edit-profile">Edit Profile</li>

                </div>

                <li class="list-group-item item-content">
                  <div class="inputforms-appointment">
                    <div class="row formrow">
                      <div class="col-md-6 ">
                        <label for="exampleFormControlInput1" class="custom-form-label">First Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Abcde">
                      </div>
                      <div class="col-md-6 ">
                        <label for="exampleFormControlInput1" class="custom-form-label">Last Name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Xyzde">
                      </div>
                    </div>
                    <div class="row formrow">
                      <div class="col-md-6 ">
                        <label for="exampleFormControlInput1" class="custom-form-label">Contact Number</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                          placeholder="+91 3132456789">
                      </div>
                      <div class="col-md-6 ">
                        <label for="exampleFormControlInput1" class="custom-form-label">Email </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                          placeholder="aruni@gmail.com">
                      </div>
                    </div>





                  </div>
                </li>

              </ul>

            </div>
          </div>
          <div class="modal-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-color" type="submit">Save

              </button>
            </div>
          </div>
        </div>
      </div>
    </div>